doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/fonts/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/fonts/material-design-iconic-font.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/animate.css')
        link(rel='stylesheet', href='/stylesheets/vendor/hamburgers.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/animsition.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/select2.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/daterangepicker.css')

        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/util.css')

        
    body
        block content

        script(type='text/javascript' src='/javascripts/vendor/jquery-3.2.1.min.js')
        script(type='text/javascript' src='/javascripts/vendor/animsition.min.js')
        script(type='text/javascript' src='/javascripts/vendor/popper.js')
        script(type='text/javascript' src='/javascripts/vendor/bootstrap.min.js')
        script(type='text/javascript' src='/javascripts/vendor/select2.min.js')
        script(type='text/javascript' src='/javascripts/vendor/moment.min.js')
        script(type='text/javascript' src='/javascripts/vendor/daterangepicker.js')
        script(type='text/javascript' src='/javascripts/vendor/countdowntime.js')
        script(type='text/javascript' src='/javascripts/main.js')