extends ./header.jade
block title
  title MANAGER ADV
block content
  .container
    .table-wrapper
      .table-title
        .row
          .col-sm-8
            h2
              | ADS 
              b MANAGER
          .col-sm-4
            .search-box
              i.material-icons 
              input.form-control(id='search',type='text', placeholder='Search…')
      table#table.table.table-striped.table-hover.table-bordered
        thead
          tr
            th Number
            th EMAIL
            th Phone
            th
              | Link 
            th Image
            th Status
            th Custom
        tbody
  #editEmployeeModal.modal.fade
    .modal-dialog
      .modal-content
        form
          .modal-header
            h4.modal-title Edit Employee
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          .modal-body
            .form-group
              label Email
              input.form-control(id='email',type='email', required='')
            input.form-control(id='id',type='hidden', required='')
            .form-group
              label Phone
              input.form-control(id='phone',type='text', required='')
            .form-group
              label Link
              textarea.form-control(id='link',required='')
            .form-check
              input.form-check-input(id='check',type='checkbox')
              label.form-check-label(for='exampleCheck1') Status    
          .modal-footer
            input.btn.btn-default(type='button', data-dismiss='modal', value='Cancel')
            input.btn.btn-info(id='save' type='button', value='Save',data-dismiss='modal')
  
  script(type='text/javascript' src='/javascripts/ads.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
