.wrapper: .checkout.container: .content
    header
      h1 Thanh toán với Braintree
      p 1$ = 400 vàng
      

    form#payment-form(action="/braintree/checkout", method="post")
      section
        label(for="amount")
          span.input-label Amount
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" value="10")

        .bt-drop-in-wrapper
          #bt-dropin

      
      button.button(type="submit")
        span Thanh Toán
  

