doctype html
html(lang="en")
    head
        //script(src='/javascripts/pokestops.js')
        Title Sign In PokeStop 
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/index.css")
        style.
            img{
                width: 26%;
                transform: translate(-50%, -50%);
                left: 20%;
                top: 50%;
                position: absolute;
            }
    body#pokestop
        img(src="images/PokeStop.png", alt="")
        form(method='POST' action="/signinpokestop" enctype='multipart/form-data')
            h1(style="padding-bottom: 60px;") Sign IN POKESTOP
            .form-group
                label.control-label(for='exampleInputEmail1') Your address
                input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter Adress',name="adress")
            .form-group
                .input-group-prepend
                    span#inputGroupFileAddon01.input-group-text Your Images
                .custom-file
                    input#inputGroupFile01.custom-file-input(type='file', aria-describedby='inputGroupFileAddon01',name="anh")
                    label.custom-file-label(for='inputGroupFile01') Choose file
            button.btn.btn-primary(type='submit') Submit
           #message
       if message 
       .alert.alert-danger #{message}
       
  